# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds & outputs
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab

android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/app/.cxx/
.idea/
.claude/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS / Windows
.DS_Store
Thumbs.db
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
